h1,p{
	text-align: center;
}

#head{
	background-color: #f8d7da; /* 薄い赤色の背景色を指定 */
    padding: 25px; /* 要素の内側の余白を追加 */
}

#image-container {
	text-align: center; /* 中央揃え */
}

img{
	padding: 20px;
	cursor: pointer; /* マウスが画像の上にあるときにポインターを表示 */
    width: 200px; /* 画像の幅を100pxに設定 */
    height: auto; /* 高さを自動で調整 */
}

img:hover{
	opacity: 0.5;
}